html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body,
#root {
  height: 100vh;
  margin: 0;
}
body,
input,
select,
textarea {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
}
.grid-container {
  display: grid;
  grid-template-areas: "header" "main";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}
a:hover {
  color: #ff8000;
}
header {
  grid-area: header;
  background-color: #0000ff;
  color: #ffffff;
  display: flex;
  align-items: center;
  margin-left: 8rem;
  margin-right: 8rem;
  padding-left: 15rem;
  height: 35px;
}
header a {
  color: #ffffff;
  text-decoration: none;
}
main {
  grid-area: main;
}

.target {
  margin-left: 28rem;
  margin-right: 28rem;
}

@media (max-width: 700px) {
  .grid-container {
    display: grid;
    grid-template-areas: "header" "main";
    grid-template-rows: 5rem 1fr 5rem;
    grid-template-columns: 1fr;
  }
  header {
    grid-area: header;
  }
}
